<!--这是开发者选择编辑哪个题库页面-->
<%inherit file="/base.html"/>
    <%block name = "head_js">
        <script>var i = 1</script>
    </%block>
 <%block name = "content">
      <div class="panel panel-default mb0 mt15">
            <div class="panel-heading">开始编辑</div>
            <div class="panel-body">
                <table class="table mb0 pr15 ranger-box2  ">
                    <thead>
                    <tr>
                        <th style="width: 70">#</th>
                        <th>题目名称</th>
                        <th>题目数量</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody id="qes_body">

                        %for questions in qes_query:

                        <tr>
                            <td style="width: 70px"><script>
                                    document.write(i)
                                    i++
                            </script></td>
                            <td>${questions.name}</td>
                            <td>${questions.count}</td>
                            <td>
                                <p>编辑
                                <a href="admin/qes_body/action/${questions.pk}" class="btn btn-xs btn-primary"> <span
                                        class="glyphicon glyphicon-pencil"></span> </a></p>
                                <p>删除
                                <a href="admin/delete/${questions.pk}" class="btn btn-xs btn-danger btn-delete" > <span
                                        class="glyphicon glyphicon-remove"></span> </a></p>
                            </td>
                        </tr>

                        %endfor
                    </tbody>

                </table>
                <button id = "btn_add"type="button" class="btn btn-primary btn-lg ">新建心理测评</button>
                <form class="form-inline" hidden id="name_box">
                              <div class="form-group">
                                <label for="exampleInputName2">题目名称</label>
                                <input type="text" class="form-control" id="new_query_name" placeholder="请输入">
                              </div>
                              <button id= "btn_add_confirm" type="button" class="btn btn-default">确认</button>
                              <button id= "btn_add_cancel" type="button" class="btn btn-default">取消</button>
                </form>
            </div>
    </div>

 </%block>

 <%block name = "js">
    <script src="${STATIC_URL}js/jquery-3.1.1.min.js"></script>
    <script src="${STATIC_URL}js/bootstrap.min.js"></script>
    <script>
        $(function () {
            $("#btn_add").on('click',function () {

                $("#name_box").show()

            })
        })
         $(function () {
            $("#btn_add_cancel").on('click',function () {
                $("#new_query_name").val("")
                $("#name_box").hide()

            })
        })
        $(function () {
             $("#btn_add_confirm").on('click',function () {
               var new_query_name = {new_name:$("#new_query_name").val()}
               var url = site_url+'developer/admin/query/add/'
                 if(confirm("确认创建测评？")){
                    $.post(url,new_query_name,function (res) {
                    alert(res.message)
                    if(res.result){
                        window.location=site_url+'developer'
                    }
                })
                 }


            })

        })
        $(function () {
            $("#qes_body").on('click','.btn-delete',function (e) {
                e.preventDefault()
                if(confirm("确认删除？")){
                    var url=$(this).attr('href')
                    $.get(url,function (res) {
                        alert(res.message)
                        if(res.result){
                            location.reload()
                        }
                    })

                }
            })
        })
    </script>
 </%block>

