<!--这是开发者 编辑某个题库页面-->
<%inherit file="/base.html"/>
 <%block name = "head_js">
        <script>var i = 1</script>
    </%block>

<%block name = "content">

<div class="row" >
        <div class="col-md-8"  style="padding: 0px">
            <div class="ibox" >
                    <div class="ibox-content " >
                            <div class="sk-spinner sk-spinner-double-bounce">
                                    <div class="sk-double-bounce1"></div>
                                    <div class="sk-double-bounce2"></div>
                                </div>


                    <div class="scroll_content">
                        <input type="text" class="form-control bk-valign-top" id="qes_name" placeholder="提示信息" value="${qes_title}" > </div>
                    <button id="button_confirm" type="button" class="btn btn-primary btn-block " query_id="${query_id}">重命名</button>
                        <div class="panel panel-default"id="question_body">
                            % for question in questions:
                            <div class="panel-body" id = "qes_item">
                                <h3><script>document.write(i);i++</script>.${question.name}</h3>
                                 <a href="/developer/admin/qes_body/edit/${question.pk}" class="btn btn-xs btn-primary">编辑 <i
                                        class="glyphicon glyphicon-edit"></i> </a>
                                 <a  href="/developer/admin/delete/item/${question.pk}"  class="btn btn-xs btn-danger btn-delete" > <i
                                         class="glyphicon glyphicon-remove"></i> 删除</a>
                                <div class="list-group">

                                </div>

                            </div>
                            % endfor

                            <div align="center" id = "appendix_item" >
                                    <p  hidden="True" id = "appendix_p">
                                        <script src="${STATIC_URL}js/jquery-3.1.1.min.js"></script>
                                        <script>
                                    var a = document.getElementById("question_body")
                                    if (a.firstElementChild.id != "qes_item"){
                                        document.write("还没有题目哟")
                                        $("#appendix_p").show()
                                        var img_cry=document.createElement("img");
                                        var node=document.createTextNode("这是一个新段落。");
                                        img_cry.src = "${STATIC_URL}Img/cry.jpg"
                                        img_cry.class = "img-responsive"
                                        img_cry.alt = "Responsive image"

                                        $("#appendix_item").prepend(img_cry)


                                    }
                                </script></p>
                              <a href="/developer/admin/qes_body/add/${query_id}" class ="btn btn-warning   btn-rounded " ><i
                                    class="glyphicon glyphicon-plus"></i>新增题目</a>

                              <a href="/developer/qes_body/result_edit/${query_id}" class ="btn btn-info  btn-rounded"><i
                                    class="glyphicon glyphicon-plus"></i>编辑结果</a>
                            </div>
                            <button type="button" class="btn btn-primary btn-block" onclick="homeback()">返回</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    </%block>

<%block name = "js">

    <script src="${STATIC_URL}js/bootstrap.min.js"></script>

    <script>
            function homeback(){
                window.location = site_url+"developer/"
            }

            $(function () {
                $("#question_body").on('click','.btn-delete' ,function (e) {
                    e.preventDefault();
                    if(confirm('确认删除')){
                        url = $(this).attr('href')
                        $.get(url,function (res) {
                             alert(res.message)
                            if(res.result){

                                window.location=res.data
                            }

                        })
                    }
                })
            })
            $(function () {
                $("#button_confirm").on('click',function () {
                    var param = {rename:$("#qes_name").val()}
                    var url = site_url+'developer/admin/query/rename/'+$(this).attr("query_id")+'/'
                    if(confirm('确认修改？')){
                        $.post(url,param,function (res) {
                        alert(res.message)
                        if(res.result){
                            window.location.reload()
                            }
                        })
                    }

                })
            })
        </script>
</%block>