<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--bootstrap css-->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://o.qcloud.com/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://o.qcloud.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
     <script type="text/javascript">

        var site_url = "/";            // app的url前缀,在ajax调用的时候，应该加上该前
    </script>
     <script src="${STATIC_URL}js/csrftoken.js?v=${STATIC_VERSION}"></script>
    <script>var i = 1</script>
</head>
<body>


    <nav class="navbar navbar-default king-horizontal-nav2" role="navigation">
        <div class="container" style="width:100%;">
            <div class="navbar-header">
                <p>心理测评 </p>
            </div>
            <div class="collapse navbar-collapse navbar-responsive-collapse" id="king-example-navbar-collapse-2">
                <ul class="nav navbar-nav"  >
                    <li class="king-navbar-active">
                        <a href= "/">
                            <span>首页</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <span>数据统计</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <span>单据报表</span>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
        <div class="col-sm-9">
                        <input type="text" class="form-control bk-valign-top" id="qes_name" placeholder="提示信息" value="${qes_title}" > </div>
            <button id="button_confirm" type="button" class="btn btn-success" query_id="${query_id}">重命名</button>
         <div id="question_body"  >

             % for question in questions:
             <p><script>document.write(i);i++</script>.${question.name}</p>
                <label>1.</label>
             <label>
                 <input type="radio"  value=1 name = ${question.name} class="qes">${question.item_1}
             </label>

                <br>
                <label>2.</label>
             <label><input type="radio" value=0 name=${question.name} class="qes">${question.item_2}</label>

                <br>
              <a href="/admin/qes_body/edit/${question.pk}" class="btn btn-xs btn-primary">编辑 <i
                                        class="glyphicon glyphicon-edit"></i> </a>
             <a  href="/admin/delete/item/${question.pk}"  class="btn btn-xs btn-danger btn-delete" > <i
                               class="glyphicon glyphicon-remove"></i> 删除</a>
             % endfor
             <a href="/admin/qes_body/add/${query_id}" class ="btn btn-lg btn-add  btn-block"><i
                class="glyphicon glyphicon-plus"></i>新增</a>
        </div>





        <script>
            $(function () {
                $("#question_body").on('click','.btn-delete' ,function (e) {
                    e.preventDefault();
                    if(confirm('确认删除')){
                        url = $(this).attr('href')
                        $.get(url,function (res) {
                             alert(res.message)
                            if(res.result){

                                window.location=res.data
                            }

                        })
                    }
                })
            })
            $(function () {
                $("#button_confirm").on('click',function () {
                    var param = {rename:$("#qes_name").val()}
                    var url = site_url+'admin/query/rename/'+$(this).attr("query_id")+'/'
                    if(confirm('确认修改？')){
                        $.post(url,param,function (res) {
                        alert(res.message)
                        if(res.result){
                            window.location=site_url
                            }
                        })
                    }

                })
            })
        </script>
</body>
</html>