<%inherit file="/base.html"/>
 <%block name = "content">
    <div class="king-page-box">
        <div class="king-container clearfix">
            <h2>${query.name}</h2>
            <p id="query_id" hidden>${query.pk}</p>
            <form class="form-horizontal">
                <div class="form-group clearfix ">
                    <label class="col-sm-3 control-label bk-lh30 pt0">题目名称：</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control bk-valign-top" id="qes_name" placeholder="提示信息" value="${question.name}"> </div>
                </div>
                <div class="form-group clearfix ">
                    <label class="col-sm-3 control-label bk-lh30 pt0">选项一：</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control bk-valign-top" id="item_1" placeholder="提示信息" value="${question.item_1}"> </div>
                </div>
                <div class="form-group clearfix ">
                    <label class="col-sm-3 control-label bk-lh30 pt0">选项二：</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control bk-valign-top" id="item_2" placeholder="提示信息" value="${question.item_2}"> </div>
                </div>
                <div class="form-group clearfix ">
                    <label class="col-sm-3 control-label bk-lh30 pt0">选项一得分：</label>
                    <div class="col-sm-9">
                        <select name="" id="item_1_score" class="form-control bk-valign-top">
                            <option value="1" ${"selected" if question.item_1_score == 1 else ""}>1</option>
                            <option value="0" ${"selected" if question.item_1_score == 0 else ""}>0</option>
                        </select>
                    </div>
                </div>
                <div class="form-group clearfix ">
                    <label class="col-sm-3 control-label bk-lh30 pt0">选项二得分：</label>
                    <div class="col-sm-9">
                        <select name="" id="item_2_score" class="form-control bk-valign-top">
                            <option value="1" ${"selected" if question.item_2_score == 1 else ""}>1</option>
                            <option value="0" ${"selected" if question.item_2_score == 0 else ""}>0</option>
                        </select>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="col-sm-9 col-sm-offset-3">
                        <button id="btn_submit" type="button" class="btn btn-primary btn-lg"  opt = "${opt}" item_id = "${question.id}">提交</button>
                        <button id="btn_cancel"type="button" class=" btn btn-danger btn-lg ">取消</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</%block>
<%block name = "js">
     <script src="${STATIC_URL}js/jquery-3.1.1.min.js"></script>
    <script src="${STATIC_URL}js/bootstrap.min.js"></script>
<script>

        $(function () {
            $("#btn_submit").on('click', function (e) {
                 function get_param() {
                 return{

                        qes_name:$("#qes_name").val(),
                        item_1:$("#item_1").val(),
                        item_2:$("#item_2").val(),
                        item_1_score:$("#item_1_score").val(),
                        item_2_score:$("#item_2_score").val()

                 }
        }
                var opt = $(this).attr('opt')
                var query_id = document.getElementById("query_id").firstChild.nodeValue
                var qes_Param = get_param()
                var url = site_url
                if(opt == 'add') {
                    url += 'developer/admin/qes_body/add/' + query_id + '/'
                }
                else if(opt == 'edit'){
                     var item_id = $(this).attr('item_id')
                     url += 'developer/admin/qes_body/edit/'+item_id+'/'
                }
                $.post(url, qes_Param,function (res) {
                    alert(res.message);
                    if(res.result){
                        window.location = site_url+'developer/admin/qes_body/action/'+query_id+'/'
                    }

                },'json')
            })

            $("#btn_cancel").on('click',function (e) {
                 var query_id = document.getElementById("query_id").firstChild.nodeValue
                 window.location = site_url+'developer/admin/qes_body/action/'+query_id+'/'

            })
        })
    </script>
</%block>
