<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- 若您需要使用Kendo UI Professional，请联系版权人获得合法的授权或许可。 -->
    <!-- Bootstrap css -->
    <link href="https://o.qcloud.com/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!-- kendo ui css -->
    <link href="https://o.qcloud.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.common.min.css" rel="stylesheet">
    <link href="https://o.qcloud.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.default.min.css" rel="stylesheet">
    <!-- font-awesome -->
    <link href="https://o.qcloud.com/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
    <!--蓝鲸提供的公用样式库 -->
    <link href="https://o.qcloud.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="https://o.qcloud.com/static_api/v3/bk/css/bk_pack.css" rel="stylesheet">
    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src="https://o.qcloud.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://o.qcloud.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://o.qcloud.com/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <!-- 包括所有kendoui的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://o.qcloud.com/static_api/v3/assets/kendoui-2015.2.624/js/kendo.all.min.js"></script>
    <script src="https://o.qcloud.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://o.qcloud.com/static_api/v3/bk/js/bk.js"></script>
    <!-- 数据埋点统计 -->
    <script src="https://o.qcloud.com/static_api/analysis.js"></script>
     <script type="text/javascript">

        var site_url = "/";            // app的url前缀,在ajax调用的时候，应该加上该前
    </script>
    <script src="${STATIC_URL}js/csrftoken.js?v=${STATIC_VERSION}"></script>
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]><script src="https://o.qcloud.com/static_api/v3/assets/js/html5shiv.min.js"></script><script src="https://o.qcloud.com/static_api/v3/assets/js/respond.min.js"></script><![endif]-->
</head>
<h2>${query.name}</h2>
<p id="query_id" hidden>${query.pk}</p>
<body class="bg-white" data-bg-color="bg-white">
    <div class="king-page-box">
        <div class="king-container clearfix">
            <form class="form-horizontal">
                <div class="form-group clearfix ">
                    <label class="col-sm-3 control-label bk-lh30 pt0">题目名称：</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control bk-valign-top" id="qes_name" placeholder="提示信息" value="${question.name}"> </div>
                </div>
                <div class="form-group clearfix ">
                    <label class="col-sm-3 control-label bk-lh30 pt0">选项一：</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control bk-valign-top" id="item_1" placeholder="提示信息" value="${question.item_1}"> </div>
                </div>
                <div class="form-group clearfix ">
                    <label class="col-sm-3 control-label bk-lh30 pt0">选项二：</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control bk-valign-top" id="item_2" placeholder="提示信息" value="${question.item_2}"> </div>
                </div>
                <div class="form-group clearfix ">
                    <label class="col-sm-3 control-label bk-lh30 pt0">选项一得分：</label>
                    <div class="col-sm-9">
                        <select name="" id="item_1_score" class="form-control bk-valign-top">
                            <option value="1" ${"selected" if question.item_1_score == 1 else ""}>1</option>
                            <option value="0" ${"selected" if question.item_1_score == 0 else ""}>0</option>
                        </select>
                    </div>
                </div>
                <div class="form-group clearfix ">
                    <label class="col-sm-3 control-label bk-lh30 pt0">选项二得分：</label>
                    <div class="col-sm-9">
                        <select name="" id="item_2_score" class="form-control bk-valign-top">
                            <option value="1" ${"selected" if question.item_2_score == 1 else ""}>1</option>
                            <option value="0" ${"selected" if question.item_2_score == 0 else ""}>0</option>
                        </select>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="col-sm-9 col-sm-offset-3">
                        <button id="btn_submit" type="button" class="king-btn mr10  king-success"  opt = "${opt}" item_id = "${question.id}">提交</button>
                        <button id="btn_cancel"type="button" class="king-btn king-default ">取消</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>

        $(function () {
            $("#btn_submit").on('click', function (e) {
                 function get_param() {
                 return{

                        qes_name:$("#qes_name").val(),
                        item_1:$("#item_1").val(),
                        item_2:$("#item_2").val(),
                        item_1_score:$("#item_1_score").val(),
                        item_2_score:$("#item_2_score").val()

                 }
        }
                var opt = $(this).attr('opt')
                var query_id = document.getElementById("query_id").firstChild.nodeValue
                var qes_Param = get_param()
                var url = site_url
                if(opt == 'add') {
                    url += 'developer/admin/qes_body/add/' + query_id + '/'
                }
                else if(opt == 'edit'){
                     var item_id = $(this).attr('item_id')
                     url += 'developer/admin/qes_body/edit/'+item_id+'/'
                }
                $.post(url, qes_Param,function (res) {
                    alert(res.message);
                    if(res.result){
                        window.location = site_url+'developer/admin/qes_body/action/'+query_id+'/'
                    }

                },'json')
            })

            $("#btn_cancel").on('click',function (e) {
                 var query_id = document.getElementById("query_id").firstChild.nodeValue
                 window.location = site_url+'developer/admin/qes_body/action/'+query_id+'/'

            })
        })
    </script>
</body>

</html>