<%inherit file="/base.html"/>
<%block name = "content">
    <div class="row" >

    <div class="col-sm-6">
        <div class="ibox float-e-margins" >
            <div class="ibox-title">
                <h3>
                    ${question_name}
                </h3>
                <br>
                <h3>新建解析</h3>

            </div>
            <div class="ibox-content">

                <form class="form-horizontal">
                    <div class="form-group">
                            <label class="col-sm-2 control-label">选项</label>
                    </div>
                    <div class="form-group"  id="result_item">
                        % for item in result.items:
                        <div class="col-sm-12">

                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <span class="input-group-btn" ><a class="btn  btn-danger btn_item_remove"  ><i class="fa fa-times"></i></a> </span>
                                        <input type="text" placeholder="结果" class="form-control item_content"  value="${item["content"]}"  >
                                    </div>
                                </div>



                                <div class="col-sm-2"><input type="number" value="${item["level"]}" class="form-control item_level" placeholder="得分"></div>



                        </div>
                         %endfor

                    </div>


                    <div class="form-group">
                            <div class="col-sm-6">
                                <a class="btn btn-primary btn-outline  btn-rounded btn-block"   id = "btn_item_add">新增结果项目</a>
                            </div>
                            <div class="col-sm-6">
                                <a class="btn btn-primary btn-rounded btn-block" id = "btn_submit">保存</a>
                            </div>
                        </div>
                    <div>
                          <button id="btn_cancel"type="button" class="btn btn-block btn-primary btn-block ">取消</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</%block>

<%block name = "js">
    <script src="${STATIC_URL}js/jquery-3.1.1.min.js"></script>
    <script src="${STATIC_URL}js/bootstrap.min.js"></script>
    <script>

        $(function () {
            $("#btn_item_add").on('click', function () {
                var new_div = document.createElement("div")
                new_div.class = "col-sm-12"
                new_div.innerHTML =
                    "                                <div class=\"col-sm-8\">\n" +
                    "                                    <div class=\"input-group\">\n" +
                    "                                        <span class=\"input-group-btn\"><a class=\"btn  btn-danger btn_item_remove\" ><i class=\"fa fa-times\"></i></a> </span>\n" +
                    "                                        <input type=\"text\" placeholder=\"选项\" class=\"form-control item_content\"   >\n" +
                    "                                    </div>\n" +
                    "                                </div>\n" +
                    "\n" +
                    "\n" +
                    "\n" +
                    "                                <div class=\"col-sm-2\"><input type=\"number\" placeholder=\"得分\" class=\"form-control item_level\" ></div>\n" +
                    "\n" +
                    "\n" +

                document.getElementById("result_item").append(new_div)
            })
        })

        $(function () {
            $("#result_item").on('click','.btn_item_remove', function () {
                $(this).parent().parent().parent().parent().remove()
            })

        })
        function get_param() {
             var item_content = document.getElementsByClassName('item_content')
             var item_level = document.getElementsByClassName('item_level')
             var item_param =  new Array()
             for(var i = 0; i< item_content.length; i++){
                //var item_dict =  {content: item_content[i].value, score: item_score[i].value}
                var item_dict = {}
                item_dict["content"] = item_content[i].value
                item_dict["level"] = item_level[i].value
                item_param.splice(0,0,item_dict)
             }
             var Param = JSON.stringify(item_param)
                return{
                        data: Param
                }
        }
        $(function () {
            $("#btn_submit").click(function () {
            var param = get_param()
            var url = site_url+'developer/qes_body/result_edit/'+'${question_id}'+'/'
            $.post(url,param,function (res) {
                alert(res.message)
                if(res.result){
                    location.reload()
                }
            })
        })
        })
        $(function () {
            $("#btn_cancel").click(function () {
                history.back(-1)
            })

        })

    </script>
</%block>